

<div class="col-sm-offset-4 col-sm-4">
    <div class="login">
        <div class="alert alert-danger">Dashboard failed to launch.</div>
        <h1>Please log in to your BluSignals account to launch the Dashboard.</h1><br />
        <input type="button" value="Login" class="btn btn-primary" onclick="javascript: window.location.href='https://www.blusignalsystems.com/login/'" />
    </div>
</div>
<div class="clearfix"></div>

