
@using BlueSignal.Controllers;

<script type="text/javascript">
    function callYahooFinance() {
        var a = $('#code').val();
        var _url = 'https://finance.yahoo.com/quote/' + a + '?p=' + a
        window.open(_url, '_blank');
    }

</script>

@*<h2 class="market_title">MarketData</h2>*@


<div>
    <div class="tab_block">
        <div class="col-sm-5 ">
            <div class="info_block">
                <div class="blue_block">
                    <div class="col-sm-8">
                        <div class="row">
                            <label class="col-sm-3 symbol_text" for="code">Symbol:</label>


                            @if (HttpContextSessionWrapperExtension.SessionUser.IsBluFactrol)
                            {
                                <div class="col-sm-6 search_symbol">
                                    <input type="text" id="code" name="code" placeholder="Type valid Symbol" data-toggle="tooltip" title="Type a Valid Symbol" value="SPY" class="form-control codeValue">
                                    <span><i class="fa fa-search" data-toggle="tooltip" title="Lookup Symbol" aria-hidden="true"></i></span>
                                </div>
                                <div class="col-sm-3">
                                    @*<input type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="Choose Major Market">*@
                                    @*<i class="fa fa-window-maximize" title="Major Market" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i>*@
                                    <button type="button" id="btnLoad" data-toggle="tooltip" title="Load Symbol" class="btn btn-primary btn_style btn_whitegray" onclick="InitilizeMarketList()">Load</button>
                                </div>

                            }
                            else
                            {
                                <div class="col-sm-6 search_symbol">
                                    <input type="text" id="code" readonly name="code" placeholder="Type valid Symbol" data-toggle="tooltip" title="Type a Valid Symbol" value="SPY" class="form-control codeValue">
                                    <span><i class="fa fa-search" data-toggle="tooltip" title="Lookup Symbol" aria-hidden="true"></i></span>
                                </div>
                                <div class="col-sm-3">
                                    @*<input type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="Choose Major Market">*@
                                    @*<i class="fa fa-window-maximize" title="Major Market" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i>*@
                                    <button type="button" id="btnLoad" disabled="disabled" data-toggle="tooltip" title="Load Symbol" class="btn btn-primary btn_style btn_whitegray" onclick="InitilizeMarketList()">Load</button>
                                </div>


                            }











                        </div>
                    </div>
                    <div class="col-sm-3" style="display:none;">
                        <div class="form-group row">
                            <label class="col-sm-5" for="datafrequency">Frequency</label>
                            <div class="col-sm-7">
                                <select id="datafrequency" class="form-control">
                                    <option value="daily">daily</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-3" style="display:none;">
                        <div class="form-group row">
                            <label class="col-sm-3" for="date">Start Date</label>
                            <div class="col-sm-4">
                                <input type="text" id="date" name="codedate" class="form-control" value="20161101000000">
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">

                        @if (HttpContextSessionWrapperExtension.SessionUser.IsBluFactrol)
                        {
                            <button type="button" class="btn btn-primary btn_style pull-right btn_whitegray" data-toggle="modal" data-target="#myModal" title="Choose Major Market" @*onclick="callYahooFinance()"*@>Major Markets</button>
                        }
                        else
                        { <button type="button" disabled="disabled" class="btn btn-primary btn_style pull-right btn_whitegray" data-toggle="modal" data-target="#myModal" title="Choose Major Market" @*onclick="callYahooFinance()"*@>Major Markets</button> }
                    </div>
                </div>
                <div class="sub_info">
                    <div class="">

                        @*<div class="form-group row">
                                <label class="col-sm-3">Symbd:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <input type="button" class="btn btn-primary" value="Load">
                                </div>
                            </div>
                        *@
                        <div class="form-group row">

                            <label class="col-sm-6"><span><img src="~/images/sideicon.jpg" /></span>Name of Security</label>
                            <div class="col-sm-6">
                                <input type="text" id="Name" disabled class="form-control form-width">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6"><span><img src="~/images/sideicon.jpg" /></span>Last Trade Date</label>
                            <div class="col-sm-6">
                                <input type="text" disabled class="form-control form-width LastTradingDay">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6"><span><img src="~/images/sideicon.jpg" /></span>Previous Day's Close</label>
                            <div class="col-sm-6">
                                <input type="text" id="ClosingPrice" disabled class="form-control form-width">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6">
                                <span><img src="~/images/sideicon.jpg" /></span>
                                Avg. Volume (90 Days)
                            </label>
                            <div class="col-sm-6">
                                <input type="text" id="AvgVolume" disabled class="form-control form-width">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 terms">
            <div class="row">
                <div class="col-sm-6">
                    <div class="trend_signal">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th align="left"><img class="term_icon" src="~/images/short_term_icon.png" /> Near Term Trend</th>
                                    <th align="center" class="meter_title">Meter</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="trend_status">
                                            <div class="status_signal"><h3>Positive</h3></div>
                                        </div>

                                        <div class="info_row">

                                            <span class="icon"><img src="~/images/date_icon.jpg" /></span>
                                            <label class="date_text">Starting Date</label>
                                            <label class="days_text">06 Jan,2017</label>

                                        </div>
                                        <div class="info_row">

                                            <span class="icon"><img src="~/images/dollar_icon.png" /></span>
                                            <label class="date_text">Starting Price</label>
                                            <label class="days_text">$50.00</label>

                                        </div>
                                        <div class="info_row">

                                            <span class="icon"><img src="~/images/days_icon.png" /></span>
                                            <label class="date_text">Days in Trend</label>
                                            <label class="days_text">5 days</label>

                                        </div>

                                    </td>
                                    <td align="center">
                                        <img src="~/images/meter.jpg" />
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                        <div class="fail_points">
                            <label>$14444.56</label>
                            <label class="projected">Projected Fail Point <i class="fa fa-angle-right" aria-hidden="true"></i></label>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="trend_signal neutral">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th align="left"><img class="term_icon" style="margin-top:2px;" src="~/images/calendar_icon.png" /> Long Term Trend</th>
                                    <th align="center" class="meter_title">Meter</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="text-center"><div class="pannel_inner_new">Neutral</div></div>


                                        <div class="info_row">

                                            <span class="icon"><img src="~/images/date_icon.jpg" /></span>
                                            <label class="date_text">Starting Date</label>
                                            <label class="days_text">06 Jan,2017</label>

                                        </div>
                                        <div class="info_row">

                                            <span class="icon"><img src="~/images/dollar_icon.png" /></span>
                                            <label class="date_text">Starting Price</label>
                                            <label class="days_text">$50.00</label>

                                        </div>
                                        <div class="info_row">

                                            <span class="icon"><img src="~/images/days_icon.png" /></span>
                                            <label class="date_text">Days in Trend</label>
                                            <label class="days_text">5 days</label>

                                        </div>

                                    </td>
                                    <td align="center">
                                        @*<div class="meter">
                                                <div class="white"></div>
                                                <div class="light_grey"></div>
                                                <div class="light_green"></div>
                                                <div class="points">
                                                    <ul>
                                                        <li>-</li>
                                                        <li>-</li>
                                                        <li>-</li>
                                                        <li>-</li>
                                                        <li>-</li>
                                                        <li>-</li>
                                                        <li>-</li>
                                                        <li>-</li>
                                                        <li>-</li>
                                                        <li>-</li>
                                                        <li>-</li>
                                                    </ul>
                                                </div>
                                            </div>*@
                                        <img src="~/images/meter.jpg" />
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                        <div class="fail_points">
                            <label>$14444.56</label>
                            <label class="projected">Projected Fail Point <i class="fa fa-angle-right" aria-hidden="true"></i></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="panel-group accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">

                            <a data-toggle="collapse" href="#collapse1">
                                <img src="../../images/blufractal_active.png" alt="" />
                                <span class="blue_text">Blu</span>Fractal &nbsp; | &nbsp;  Near-Term
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div id="chartcontainer_daily" style="height:400px; max-width: 1129px"></div>
                        </div>
                        @*<div class="panel-footer">Panel Footer</div>*@
                    </div>
                </div>
            </div>

        </div>

        @*<div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Near Term</div>
                    <div id="chartcontainer" style="height: 400px; min-width: 310px"></div>
                    <table id="Id_MarketDataList"  class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>TimeStamp</th>
                                <th>Trading Day</th>
                                <th>Open</th>

                                <th>High</th>
                                <th>Low</th>
                                <th>Close</th>
                                <th>Volume</th>
                                <th>Open Interest</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>*@
        <div class="col-sm-12">
            <div class="panel-group accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">
                                <img src="../../images/blufractal_active.png" alt="" />
                                <span class="blue_text">Blu</span>Fractal  &nbsp; | &nbsp;  Long-Term
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div id="chartcontainer_weekly" style="height: 400px; min-width: 1108px"></div>
                        </div>
                        @*<div class="panel-footer">Panel Footer</div>*@
                    </div>
                </div>
            </div>

        </div>
        @*<div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Monthly</div>

                    <table id="Id_MarketDataListMonthly" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>TimeStamp</th>
                                <th>Trading Day</th>
                                <th>Open</th>

                                <th>High</th>
                                <th>Low</th>
                                <th>Close</th>
                                <th>Volume</th>
                                <th>Open Interest</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Quarterly</div>

                    <table id="Id_MarketDataListQuarterly" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>TimeStamp</th>
                                <th>Trading Day</th>
                                <th>Open</th>

                                <th>High</th>
                                <th>Low</th>
                                <th>Close</th>
                                <th>Volume</th>
                                <th>Open Interest</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Yearly</div>

                    <table id="Id_MarketDataListYearly" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>TimeStamp</th>
                                <th>Trading Day</th>
                                <th>Open</th>

                                <th>High</th>
                                <th>Low</th>
                                <th>Close</th>
                                <th>Volume</th>
                                <th>Open Interest</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>*@


    </div>

</div>
