################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlueSignal/obj/Debug
/BlueSignal/bin
/BlueSignalCommon/bin/Debug
/BlueSignalCommon/obj/Debug
/Comman/bin/Debug
/Comman/obj/Debug
/BlueSignalCore/obj/Debug
/BlueSignalCore/bin
/BlueSignalCore/bin/Debug
/BlueSignalHelpMethod/obj/Debug
/BlueSignalHelpMethod/bin