/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,800|Open+Sans+Condensed:300,700);*/
@import url('https://fonts.googleapis.com/css?family=Gruppo');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

@font-face {
    font-family: 'grupporegular';
    src: url('../fonts/gruppo-regular-webfont.woff2') format('woff2'),
         url('../fonts/gruppo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{font-family:Roboto, Arial; background:#e5e5e5;}
.terms h4{text-transform:uppercase; color:#337ab7;margin-bottom: 3px;}
.body-content{padding-top:20px;}

label {padding-top: 5px; font-weight:normal;}
.m-l-10{margin-left:10px;}
.m-t-15{margin-top:15px;}

hr{border-color:#d1d1d1; }
.btn-primary{background:#1e6eff;}

/*.form-control{height:30px;}*/

.fa-window-maximize{color:#1f6df7; font-size:20px; margin-top:5px; cursor:pointer;}
.alert{padding:5px 10px;}

.navbar-header{margin:5px;}

.navbar_bg{background:#fff; border-bottom:none; box-shadow:0px 0px 5px #b2b3b4;}
.navbar_bg .navbar-brand{color:#fff;}
.navbar-brand > img{width:121px;}
.navbar_bg .navbar-nav > li > a{color:#1f6df7 ;}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{background:#1f6df7; color:#fff;}
.navbar-right{margin-right:0; margin-top:8px;}

.navbar-brand{padding:0px 0px 0px 15px; height:auto;}

.current_date{width:156px; height:40px; margin:5px auto 0; text-align:center; background:url(../images/date_bg.png) 0 0 no-repeat; color:#1e6eff; font-weight:bold; padding-top:9px; text-transform:uppercase;}
.current_date span{float:left; margin:0 15px 0 14px;}
.current_date .date{margin:0 10px 0 19px; width:15px; text-align:center;}
.current_date .year{margin:0 12px 0 7px;}

.btn_style{background:#1f6df7; border:none;}

.table{margin-bottom:5px;}
/*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{padding:4px 8px;}*/
/*.table-striped > tbody > tr:nth-of-type(2n){background:#f1f1f1;}*/
.table-striped > tbody > tr:nth-of-type(2n+1){background:#ededed;}
.table > tfoot > tr > td{background:#feebb7/*d5e4fe*/ ;}

.dataTables_length{padding: 10px 10px 0;}
.dataTables_filter{padding: 10px 10px 0;}
.market_title{border-bottom: 1px solid #eee;color: #1f6df7;margin-bottom: 19px; padding-bottom: 8px;margin-left: 10px;
    width: 98%;}
.page_head {border-bottom: 1px solid #d6e0cd;margin-bottom: 15px; overflow: hidden; padding-bottom: 10px;}
.dataTables_info{margin-left:10px;}
.paging_simple_numbers {padding-right: 10px;}

.profile a{padding:2px;}
.profile a:hover{text-decoration:none; background:#d5e4fe;}

.panel{border-radius:5px;}
.panel-heading{border-top-left-radius:5px; border-top-right-radius:5px;}

.terms{margin-bottom:5px;}
.terms .panel{margin-bottom:5px;}
/*.terms .panel-heading{padding:5px 15px;}*/
.terms .panel-body{padding:5px 15px;background: #fff;}

.panel-group .panel{border-radius:5px;}

.panel .panel-heading{background:#1f6df7; color:#fff;font-weight: bold; position:relative;}
.pannel_title1{color:#04d731 !important;}
.pannel_title2{color:#f3af1e !important;}

.head_form{position:absolute; top:5px; left:10px; width:500px;}
.head_form .form-control{float:left; margin-right:10px; height:27px;}
.head_form .btn{float:left; margin-right:10px; margin-top:4px;}

/*.tab-pane{padding-top:10px;}*/

.form-width{max-width:100% !important;}
.panel-body p{margin-bottom:2px;color:#707172;}

.modal_style .modal-title{color: #1f6df7; font-weight:normal;font-size: 21px;}
.modal_style .modal-body table  tr td a{color: #1f6df7;}

.trend_signal{background: #fff;padding-bottom: 16px; text-align:center;}
.trend_signal .panel-heading{background:#1f6df7; color:#fff; padding:8px 10px;}
.pannel_inner{background: #fff; border: 6px solid #d0d0d0;border-radius:35px; display: inline-block; height: 63px;
    padding: 14px 0; text-align: center; color:#1f6df7; font-weight:normal; width: 145px; margin:20px 0 25px; font-size:16px; text-transform:uppercase;}
/*.trend_signal .panel-body {padding:0px;}*/

.square{background:#c70606; border-radius: 5px; display: inline-block; padding: 8px 0; text-align: center; color:#fff; font-weight:normal; width: 191px; margin:25px 0 25px; font-size:22px;}

.square2{background:#2975ff; border-radius: 5px; display: inline-block; padding: 23px 0; text-align: center; color:#fff; font-weight:normal; width: 191px; margin:23px 0 28px; font-size:25px;}

.square span{float:left; width:100%; margin:5px 0 10px;}
.trend_signal p{margin-bottom:2px;}
.trend_signal table{border:none; border-radius:4px; margin-bottom:0;}
.trend_signal .panel-heading{float: left;
    text-align: left;
    width: 100%;}
.trend_signal .panel-heading img{margin-top:2px;}
.trend_signal th{border-radius:5px 0 0 0;}
.trend_signal th+th{border-radius:0 5px 0 0;}
.trend_signal td{padding:2px 10px !important;}

.todays_signal .panel-heading{background:#1f6df7; color:#fff; padding:8px 10px;}
.todays_signal .panel-body{padding:0; border-top:none;}

.fail_points{background:-webkit-gradient(linear,0 0,0 100%,from(#bccdcd),to(#9da4a8)); float:left; width:100%; border-radius:0px 0px 5px 5px; color:#fff;}
.fail_points label{float:right; padding:5px 10px; margin-bottom:0;}
.fail_points .projected{text-align:right;}
.fail_points .projected i{ margin-left:10px;}

/*.trend_status{position:relative; float:left; height:80px; width:100%;}*/
.trend_status{text-align:center;}
.trend_status .status_pointer{text-align:center; width:111px; height:92px; background:url(../images/green_triangle.png) 0 0 no-repeat; color:#fff;}
.trend_status .fa-sort-asc{color:#1ba914; font-size:191px;}
.trend_status p{text-align:center; top:40px; position:absolute; text-align:center; width:100%; color:#fff; font-size:18px;}

.trend_status{float:left; width:100%; text-align:center; margin:10px 0 16px;}
.trend_status .status_signal{text-align:center; display:inline-block; width:111px; height:92px; background:url(../images/green_triangle.png) 0 0 no-repeat; color:#fff;}
.trend_status .status_signal h3{text-transform:uppercase; margin:60px 0 0 -4px; color:#fff; font-size:16px;}

.term_icon{float:left; margin-right:5px;}

.last_pivot{margin-top:2px;}
.last_pivot h3{margin:37px 0 0 -10px;}

.compact_view .panel-body{padding:5px 15px;}
.compact_view .square, .compact_view .square2{margin:5px 0 8px; font-size:14px; padding:4px 0;}
/*.compact_view .trend_status .status_pointer{top:-19px;}
.compact_view .trend_status p{top:26px;}
.compact_view .trend_status{height:72px;}*/
.compact_view .trend_status{margin:3px 0 12px;}
.compact_view .trend_status h3{font-size:14px; margin:37px 0 0 -30px;}
.compact_view .trend_status .status_signal{border-left: 50px solid transparent;border-right: 50px solid transparent;border-bottom: 60px solid #1ba914;}
.compact_view .trend_status .status_signal i{font-size:20px;}
.compact_view p{font-size:13px;}
.compact_view .table > tbody > tr > td{padding:2px 8px;}
.compact_view .panel-heading{padding: 6px 10px;}
.compact_view .panel-body .square img{width:20px;}
.compact_view .panel-body .square2 img{width:20px;}
.compact_view{padding-bottom:0px;}
.compact_view .square span{margin-right: 10px; float:none;
    width: 100%;}
.compact_view .panel-body .info_row{margin-bottom: 4px !important;
    padding: 2px 10px!important;}

.panel .green_heading{background:#1ba914; float:left; width:50%; padding:5px; text-align:center; color:#fff;}
.panel .red_heading{background:#cd1419; float:left; width:50%; padding:5px;  text-align:center; color:#fff;}

.meter{width:20px; height:222px; border:1px solid #d1d1d1; border-radius:3px; position:relative;}
.meter .points{position:absolute; right:-4px; top:0;}
.meter .points ul{margin:0; padding:0; list-style:none; color:#b2b3b4;}

.meter .white{height:74px; width:20px;}
.meter .light_grey{height:74px; width:20px; background:#d1d1d1;}
.meter .light_green{height:74px; width:20px; background:#f7cf65 /*95ffe2*/; border-radius:0 0 3px 3px;}

.progress{margin-bottom:0; border:1px solid #c8c8c8;}
.progress-bar-vertical {
  width: 20px;
  min-height: 143px;
  display: flex;
  align-items: flex-end;
  
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
.progress-bar-vertical span{-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    display:block; width:40px; height:41px; color:#505050;
}

.pannel_title1{margin-top:103px;}

.nav-tabs{background:#eee; border-top:1px solid #d9d7d7; border-left:1px solid #d9d7d7; border-bottom:1px solid #fff; border-radius:5px 5px 0 0;}
.nav-tabs > li:first-child > a{border-radius:5px 0 0 0;}
.nav-tabs > li > a{color:#505050; border-radius:0; padding-left:35px; border:none; border-right:1px solid #d9d7d7; margin-right:0;}
.nav > li > a:focus, .nav > li > a:hover{background:#fff;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{color:#1f6df7; background:#fff;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border-bottom:1px solid #fff; border-left:1px solid #fff; border-top:none; background:#fff;}
.nav-tabs > li > a span{color:#1f6df7;}

.nav-tabs > li > a.BluFractal_BluNeural .combo{float:left; padding:2px 1px; margin-right:5px; line-height:20px;}

.nav-tabs > li > a.detail{height:41px; display:block; padding-left:25px; cursor:pointer;}
.nav-tabs > li > a.data{height:41px; display:block; padding-left:25px;}
.nav-tabs > li > a.setting{line-height:20px; display:block; padding-left:15px; color:#1f6df7; font-size:17px;}

.nav-tabs > li > a.blufractal{background:#eee url(../images/blufractal_active.png) 10px 11px no-repeat; background-size:19px !important;}
.nav-tabs > li > a.bluneural{background:#eee url(../images/bluneural_active.png) 10px 11px no-repeat;}
.nav-tabs > li > a.bluquant{background:#eee url(../images/bluquant_active.png) 10px 11px no-repeat; background-size:19px !important;}
.nav-tabs > li > a.detail{background:#eee url(../images/detail_active.png) 10px 9px no-repeat;}
.nav-tabs > li > a.data{background:#eee url(../images/data_active.png) 10px 11px no-repeat;}



.nav-tabs > li > a.BluFractal_BluNeural{background:#eee; padding-left:15px; padding-bottom:6px; padding-top:9px; line-height:25px;}
.nav-tabs > li > a.BluFractal_BluNeural .bf_icon{background:#eee url(../images/blufractal_active.png) -0px 0px no-repeat; width:20px; height:20px; display:inline-block; float:left; background-size:19px !important;}
.nav-tabs > li > a.BluFractal_BluNeural .bn_icon{background:#eee url(../images/bluneural_active.png) 0px 0px no-repeat;  width:20px; height:20px; display:inline-block; float:left;}

.nav-tabs > li > a.BluFractal_BluNeural .combo_txt{position:relative; top:-1px; color:#505050;}


.nav-tabs > li > a.blufractal:hover{background:#fff url(../images/blufractal_active.png) 10px 11px no-repeat;}
.nav-tabs > li > a.bluneural:hover{background:#fff url(../images/bluneural_active.png) 10px 11px no-repeat;}
.nav-tabs > li > a.bluquant:hover{background:#fff url(../images/bluquant_active.png) 10px 11px no-repeat;}
.nav-tabs > li > a.detail:hover{background:#fff url(../images/detail_active.png) 10px 9px no-repeat;}
.nav-tabs > li > a.data:hover{background:#fff url(../images/data_active.png) 10px 11px no-repeat;}
.nav-tabs > li > a.BluFractal_BluNeural:hover{background:#fff;}
.nav-tabs > li > a.BluFractal_BluNeural:hover .bf_icon{background:#fff url(../images/blufractal_active.png) 0px 0px no-repeat; }
.nav-tabs > li > a.BluFractal_BluNeural:hover .bn_icon{background:#fff url(../images/bluneural_active.png) 0px 0px no-repeat; }
.nav-tabs > li > a.BluFractal_BluNeural:hover .combo_txt{color:#1f6df7;}


.nav-tabs > li.active > a.blufractal{background:#fff url(../images/blufractal_active.png) 10px 10px no-repeat;}
.nav-tabs > li.active > a.bluneural{background:#fff url(../images/bluneural_active.png) 10px 11px no-repeat;}
.nav-tabs > li.active > a.bluquant{background:#fff url(../images/bluquant_active.png) 10px 10px no-repeat;}
.nav-tabs > li.active > a.detail{background:#fff url(../images/detail_active.png) 10px 9px no-repeat;}
.nav-tabs > li.active > a.data{background:#fff url(../images/data_active.png) 10px 11px no-repeat;}
.nav-tabs > li.active > a.BluFractal_BluNeural{background:#fff;}
.nav-tabs > li.active > a.BluFractal_BluNeural .bf_icon{background:#fff url(../images/blufractal_active.png) 0px 0px no-repeat; }
.nav-tabs > li.active > a.BluFractal_BluNeural .bn_icon{background:#fff url(../images/bluneural_active.png) 0px 0px no-repeat;  }
.nav-tabs > li.active > a.BluFractal_BluNeural .combo_txt{color:#1f6df7;}

.nav-tabs > li.help i{font-size:22px;}
.nav-tabs > li.help a{padding-left:15px; color:#1e6eff;}

.table > thead > tr > th{background:#1f6df7; color:#fff;}
.table > tbody > tr > td{border:1px solid #ddd; border-collapse:collapse;}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    position:absolute;
    right:14px;
    color: #c7c6c6;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.tab_block{background:#fff; border:1px solid #e5e4e4; border-top:none; border-radius:0px 0px 5px 5px; float:left; width:100%; padding:12px 0 10px; margin-bottom:15px; margin-top:-2px; }

.info_block{background:#b9c9ca; float:left; width:100%; border-radius:5px; padding:12px; box-shadow:inset 0px 0px 34px #9ca3a7;}

.blue_block{background:#1e6eff; float:left; width:100%; border-radius:5px; padding:10px 0;}

.btn_whitegray{box-shadow:0 4px 0 0 #81a4e4; color:#2a75fc; font-weight:bold;
               background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #ababab); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #ababab); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #ababab); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #ababab); /* Standard syntax */
}
.btn_whitegray:hover, .btn_whitegray:focus{background:#003ec8; color:#fff;}

.sub_info {background:#ecf0f1; float:left; width:100%; border-radius:5px; margin-top:13px; padding:15px 10px; padding-bottom:0;}
.sub_info span{margin-right:6px;}
.symbol_text{color:#fff;}
.symbol_text strong{font-size:16px;}

.search_symbol{position:relative;}
.search_symbol .form-control{padding:6px 37px 6px 12px;}
.search_symbol span{position:absolute; top:3px; right:18px; padding:4px 8px; background:#1f6df7; cursor:pointer;}
.search_symbol span i{color:#fff; position:relative; top:-1px;}

.meter_title{background:#f1c40f !important; color:#1e6eff !important; text-align:center;}

.info_row{background:#fbfcfd; border:solid 1px #e7ecf1; border-radius:5px; float:left; padding: 4px 10px; width:100%; margin-bottom:5px;}
.info_row label{margin-bottom:0;}
.info_row_btn{margin: 38% auto;
    vertical-align: middle;background:#fbfcfd; border:solid 1px #e7ecf1; border-radius:5px; float:left; padding: 4px 10px; width:100%;}
.info_row .icon{float:left; margin-right:7px; }
.info_row .icon i{color:#b2b3b4; font-size:17px; margin-top:3px;}

.date_text{color:#1e6eff; font-size:14px; padding:0px; line-height:22px;float: left;
    text-align: left;
    width: 50%;}
.btn_load{background: #1e6eff none repeat scroll 0 0;
    border: medium none;
    float: right;
    padding: 4px 14px;}

.todays_signal_list{height:220px; overflow:auto; margin:5px 0;}

.border_right{border-right:1px solid #ddd;}

.btn_major_market {background: #1e6eff;float:left; border: medium none; padding: 4px 14px;margin: 0 !important;}
.days_text{float:left;font-size:13px;  padding:0px; line-height:22px;}
.pannel_inner_new{background: #acbcbc; font-size:16px;
    border-radius: 53px;
    box-shadow: 0 4px 0 0 #9ba2a6;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
    margin: 32px 0 36px;
    text-transform: uppercase;
    width: 105px;}
.pannel_bg_blue{background:#2975ff !important; color:#fff !important;}
.pannel_bg_blue a{ color:#fff !important;}

.table_style{border-radius:5px;}
.table_style .table-bordered > thead > tr > th {
    background: #ededed;
    color: #2975ff;
}
.table_style .table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #f9f9f9;
    color: #000333;
}

.frm_control_bg{background:#fff;}
.accordion .panel-heading{padding:0; border-radius:5px 5px 0 0;}
.accordion .panel-title{padding:0; border-radius:5px 5px 0 0;}
.accordion .panel-title > a{display:block; padding:10px 15px;}
.accordion .panel-title > a:hover{text-decoration:none;}

.accordion .trend_signal .panel-heading{padding:10px 15px;}

.help_content h4{font-size:15px; margin-bottom:3px;}
.help_content h4 i{color:#8e8e8e;}
.help_content .panel-body p{margin-bottom:13px;}

.panel-title > a i{color:#fff;}
.panel-title > a {color:#505050; font-weight:normal; font-size:14px;}
.panel-title a img{margin-right:4px;margin-bottom: 2px;}
.panel-heading .panel-title {background:#eeeeee; border-radius:5px 5px 0 0;}}
.blue_text {
    color: #196bfb;
}

.need_more_help{border:1px solid #f39b93; border-left:4px solid #f39b93; background:#fff; padding:15px; margin-bottom:20px; float:left; width:100%;}
.need_more_help .btn-primary{background:#b00; text-transform:uppercase; border:1px solid #b00;}
.need_more_help .btn-primary:hover{background:#8f0000;}
.need_more_help h4{float:left; font-size:18px; margin-top:5px;}
.need_more_help h4 span{font-weight:normal; font-size:15px;}

.help_videos{margin-bottom:20px; border-bottom:1px solid #b2b3b4; padding-bottom:20px;}
.help_videos h4{border-bottom:1px solid #b2b3b4; font-size:18px; margin:0px 0px 15px; padding-bottom:5px;}
.help_videos h4 span{color:#1f6df7;}
.help_videos img{-webkit-filter: blur(5px); filter: blur(2px);}

.help_content .option_icons{float:right; margin:10px 45px 10px 5px;}
.help_content .option_icons i{color:#fff; margin-left:12px; cursor:pointer;}

.help_content .accordion .panel{margin-bottom:15px;}

.contact{background:#fff; border:1px solid #b2b3b4; border-radius:5px; padding:15px; float:left; width:100%;}
.contact h2{margin:0 0 25px 0; border-bottom:1px solid #b2b3b4; padding-bottom:5px; font-size:25px; text-transform:uppercase;}
.contact .fa-info-circle{font-size:25px; margin:16px 20px 0 20px; float:left;}

.contact .alert h4{margin:6px 0 2px;}
.contact .alert p{margin-bottom:6px;}

.address{list-style:none; padding:0; margin:5px 0 10px;}
.address i{color:#b2b3b4; width:17px; text-align:center;}

.ticket_form{background:#edebeb; border:1px solid #b2b3b4; border-radius:5px; padding:15px;}
.ticket_form h3{margin:0 0 15px;}
.ticket_form textarea{resize:none;}

.ticket_form .form-group .text-danger{font-size:12px;}

.company_info{float:left; width:100%; background:#ededed; border:1px solid #d1d1d1; padding:15px; margin:15px 0; border-radius:5px;}
.company_info h4{border-bottom:1px solid #d1d1d1; position:relative; height:27px;}
.company_info h4 span{border-bottom:1px solid #1f6df7; padding-bottom:6px; display:inline-block; position:absolute; top:0; left:0;}

.company_info .fa-rss-square{color:#dc8b0a;}
.company_info .blog_list{list-style:none; padding:0;}
.company_info .blog_list i{float:left; margin:5px 5px 10px 0; color:#9e9fa0;}

.alert-dismissable .close, .alert-dismissible .close{right:0px;}

.checkbox-inline, .radio-inline{padding-left:0; padding-right:20px;}
.checkbox-inline input[type="checkbox"], .radio-inline  input[type="radio"]{float:left; margin-right:5px; position:static; margin-left:0;}

.currency_sign{position:relative;}
.currency_sign span{position:absolute; top:7px; left:12px; font-weight:bold;}
.currency_sign .form-control{padding:6px 12px 6px 25px;}

